@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
  font-family: "poppins", sans-serif;
}

section {
  padding: 0 50px;
  margin: 100px 0;
}

p {
  font-size: 16px;
  font-weight: 300;
  color: white;
  margin-top: 10px;
}

.highlight {
  color: #3989be;
}

.main-heading {
  text-align: center;
  font-size: 3rem;
  color: white;
  font-weight: 500;
  margin-bottom: 20px;
}

.side-heading {
  color: rgb(194, 234, 143);
  font-weight: 500;
  font-size: 1.5rem;
}

/* -------------------------------------------------- Navbar ------------------------------------------------ */

.left {
  font-size: 1.5rem;
  font-weight: 600;
}

/* nav {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  align-items: center;
  position: fixed;
  top: 0;
  width: 95%;
  height: 60px;
  background-color: rgb(50, 49, 49);
} */

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  align-items: center;
  height: 60px;
  background-color: rgb(50, 49, 49);
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 0 15px;
  color: white;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  color: lightblue;
}

/* ------------------------------------------------ first section ----------------------------------------------- */

.first-section1 {
  display: flex;
  position: relative;
  /* background-color: #0077b5; */
  justify-content: space-between;
}

.left-section1 {
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  /* justify-content: center; */
  min-height: 400px;
  height: auto;
}

.left-section1 h2 {
  font-size: 3.5rem;
}

.left-section1 p {
  font-size: 1.5rem;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.right-section1 img {
  height: 600px;
  width: auto;
  animation: float 3s ease-in-out infinite;
}

/* ------------------------------------------ Second section --------------------------------------------- */

.summary {
  display: flex;
  flex-direction: row;
  padding: 30px 0;
  gap: 100px;
  align-items: center;
}

.left-summary img {
  height: 200px;
  width: auto;
  border-radius: 50%;
}

/* ------------------------------------------- Third Section ---------------------------------------------- */

.edu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.edu-card {
  border-radius: 10px;
  padding: 50px;
  text-align: center;
  background-color: rgb(15, 15, 15);
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.6);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  flex: 1;
  max-width: 350px;
}

.edu-card:hover {
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.6);
  transform: translateY(-4px);
  box-shadow: none;
  border: none;
  background: none;
}

.edu-card h2 {
  color: #ffd700;
}

/* ------------------------------------------ Fourth Section --------------------------------------------------- */

.project-cards {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: stretch;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  border-radius: 12px;
  padding: 30px;
  background-color: rgb(15, 15, 15);
  flex-grow: 1;
  max-width: 400px;

  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.6);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.6);
  transform: translateY(-4px);
  box-shadow: none;
  border: none;
  background: none;
}

.project-card-left {
  max-width: 100%;
}

.project-card-left h2 {
  color: #ffd700;
}

.project-card-right {
  height: 250px;
  width: 100%;
  min-width: 250px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.project-card-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

/* ------------------------------------ fourth section ------------------------------------------------------- */

.skills-certifications {
  display: flex;
  justify-content: space-between;
  padding: 50px 0px;
  gap: 40px;
}

.skills {
  width: 50%;
  text-align: left;
}

.skills h3 {
  margin-bottom: 10px;
  font-size: 22px;
}

.skill {
  margin: 15px 0;
}

.skill p {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
}

.progress-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.progress-bar {
  flex: 1;
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.progress {
  height: 100%;
  background: linear-gradient(90deg, #423de3, #3b03aa);
  width: 0; /* Start with 0% width */
  transition: width 1s ease-in-out; /* Smooth transition when width changes */
}

.percentage {
  font-weight: bold;
  min-width: 40px;
  text-align: right;
}


.certifications {
  width: 50%;
  text-align: left;
}

.certifications h3 {
  margin-bottom: 15px;
  font-size: 22px;
}

.certification-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cert-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: rgb(15, 15, 15);
  border-radius: 10px;
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.6);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.cert-card:hover {
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.6);
  transform: translateY(-4px);
  box-shadow: none;
  border: none;
  background: none;
}

.cert-card p {
  margin: 0;
}

.cert-link {
  color: rgb(54, 70, 245);
  text-decoration: underline;
}

/* -------------------------------------------------------- sixth section ----------------------------------------------- */

.contact-container {
  /* background-color: rgb(44, 42, 42); */
  padding: 30px 60px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  width: max-content;
  margin: auto;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 8px;
}

input,
textarea {
  width: 600px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

input:focus,
textarea:focus {
  border-color: #4caf50;
  outline: none;
}

.form-button {
  display: flex;
  justify-content: center;
}

.submit-btn {
  padding: 10px;
  border: none;
  text-align: center;
  background: #39ff14;
  color: black;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.submit-btn:hover {
  background: #388e3c;
}

.social-media-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white;
  text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.social-link i {
  font-size: 20px;
  color: white;
}

.social-link:hover {
  transform: translateY(-5px);
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);
}

.linkedin {
  background: #0077b5;
}
.github {
  background: #333;
}
.twitter {
  background: #1da1f2;
}
.instagram {
  background: #e1306c;
}
.email {
  background: #d44638;
}
